Demo/obj/Demo.csproj.nuget.dgspec.json
Demo/obj/Demo.csproj.nuget.g.props
Demo/obj/Demo.csproj.nuget.g.targets
Demo/obj/project.assets.json
Demo/obj/project.nuget.cache
Demo/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Demo/obj/Debug/net5.0/apphost.exe
Demo/obj/Debug/net5.0/Demo.AssemblyInfo.cs
Demo/obj/Debug/net5.0/Demo.AssemblyInfoInputs.cache
Demo/obj/Debug/net5.0/Demo.assets.cache
Demo/obj/Debug/net5.0/Demo.csproj.AssemblyReference.cache
Demo/obj/Debug/net5.0/Demo.csproj.CoreCompileInputs.cache
Demo/obj/Debug/net5.0/Demo.csproj.FileListAbsolute.txt
Demo/obj/Debug/net5.0/Demo.dll
Demo/obj/Debug/net5.0/Demo.GeneratedMSBuildEditorConfig.editorconfig
Demo/obj/Debug/net5.0/Demo.genruntimeconfig.cache
Demo/obj/Debug/net5.0/Demo.pdb
Demo/obj/Debug/net5.0/ref/Demo.dll
Demo/bin/Debug/net5.0/Demo.deps.json
Demo/bin/Debug/net5.0/Demo.dll
Demo/bin/Debug/net5.0/Demo.exe
Demo/bin/Debug/net5.0/Demo.pdb
Demo/bin/Debug/net5.0/Demo.runtimeconfig.dev.json
Demo/bin/Debug/net5.0/Demo.runtimeconfig.json
Demo/bin/Debug/net5.0/ref/Demo.dll
